@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 500px;
    height: 500px;
    margin: 0 auto 2rem;
  }

  /* .about-containers {
    margin-top: 0;
  } */

  #contact {
    margin-top: 4rem;
    /* Add margin to separate sections */
  }

  footer {
    margin-top: 2rem;
    /* Add margin to separate sections */
  }
}

#projects .details-container {
  width: 90%;
}

#projects .details-container:hover {
  transform: translateY(-3px);
  /* Slightly less transform effect */
}

@media screen and (max-width: 600px) {

  .contact-info-upper-container {
    flex-direction: column;
    width: 90%;
    padding: 1rem;
  }

  .contact-info-container {
    flex-direction: column;
    margin: 0;
  }

  #contact,
  footer {
    height: fit-content;
    /* Adjust height to fit content */
    margin-top: 2rem;
    /* Add margin to separate sections*/

  }

  #profile {
    height: 83vh;
    margin-bottom: 3rem;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 80vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }
}

#projects .details-container {
  width: 100%;
  padding: 0.5rem;
}

#projects .details-container:hover {
  transform: translateY(-2px);
  /* Even less transform effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Adjust box-shadow for smaller screens */
}

@media screen and (max-width: 375px) {
  #contact {
    height: fit-content;
    margin-top: 1rem;
    padding: 1rem;
  }

  /* .contact-info-upper-container {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  } */

  .contact-info-container {
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .form-group {
    width: 100%;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
  }

  #projects .details-container {
    width: 100%;
    padding: 0.5rem;
  }

  #projects .details-container:hover {
    transform: translateY(-1px);
    /* Minimal transform effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Minimal box-shadow for extra small screens */
  }
}